{% extends "base/index.html" %}
{% load static %}

{% block title %}
    <title>Member details</title>
{% endblock title %}

{% block corecss %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/vertical_nav.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/member_detail.css' %}">
{% endblock corecss%}

{% block content%}

{% comment %} <div class="navbar1">
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</div> {% endcomment %}

    <a href="{% url 'member_savings' member.id %}">Savings</a>
    <a href="{% url 'take_loan' member.id %}"> Take loans</a>
    <a href="{% url 'member_loans' member.id %}">View loans</a>
    <a href="{% url 'add_fixed_deposit' member_id=member.id %}">fixed deposit</a>
    <a href="{% url 'add_fixed_deposit' member_id=member.id %}">Recurring Deposits</a>
    <a href="{% url 'update_member' member.id %}">update profile</a>
    <div class="container">
        <h1>Member Details</h1>

        <h2>Personal Information</h2>
        <p><strong>Name:</strong> {{ personal_info.name }}</p>
        <p><strong>Phone Number:</strong> {{ personal_info.phone_number }}</p>
        <p><strong>Current Address:</strong> {{ personal_info.current_address }}</p>
        <p><strong>Permanent Address:</strong> {{ personal_info.permanent_address }}</p>

        <h2>Family Information</h2>
        <p><strong>Sons:</strong> {{ family_info.sons }}</p>
        <p><strong>Daughters:</strong> {{ family_info.daughters }}</p>
        <p><strong>Husband:</strong> {{ family_info.husband }}</p>
        <p><strong>Father:</strong> {{ family_info.father }}</p>

        <h2>Livestock Information</h2>
        <p><strong>Cows:</strong> {{ livestock_info.cows }}</p>
        <p><strong>Buffalo:</strong> {{ livestock_info.buffalo }}</p>
        <p><strong>Goat:</strong> {{ livestock_info.goat }}</p>
        <p><strong>Sheep:</strong> {{ livestock_info.sheep }}</p>

        <h2>House Information</h2>
        <p><strong>Concrete:</strong> {{ house_info.concrete }}</p>
        <p><strong>Mud:</strong> {{ house_info.mud }}</p>
        <p><strong>Iron:</strong> {{ house_info.iron }}</p>

        <h2>Land Information</h2>
        <p><strong>Farming:</strong> {{ land_info.farming }}</p>
        <p><strong>Others:</strong> {{ land_info.others }}</p>

        <h2>Income Information</h2>
        <p><strong>Earning:</strong> {{ income_info.earning }}</p>
        <p><strong>Farming:</strong> {{ income_info.farming }}</p>
        <p><strong>Cattle:</strong> {{ income_info.cattle }}</p>

        <h2>Expenses Information</h2>
        <p><strong>House Rent:</strong> {{ expenses_info.house_rent }}</p>
        <p><strong>Food:</strong> {{ expenses_info.food }}</p>
        <p><strong>Health:</strong> {{ expenses_info.health }}</p>
        <p><strong>Other:</strong> {{ expenses_info.other }}</p>

        <a href="{% url 'dashboard' %}">Go Back</a>
        <a href="{% url 'delete_member'  member.id %}">Delete</a>
    </div>
{% endblock %}

