{% extends "base/index.html" %}
{% load static %}

{% block title %}
    <title>Expenses info</title>
{% endblock title %}

{% block content %}
    <h2>Expenses Information</h2>
    <form method="post">
        {% csrf_token %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button class="secondary" type="button" onclick="window.history.back()">Back</button>
                <button type="submit">Next</button>
            </div>
        </form>
    </form>
{% endblock content %}
