{% extends "base/index.html" %}
{% load static %}

{% block corecss %}
    <link rel="stylesheet" href="{% static 'css/branch.css' %}">
{% endblock corecss %}
{% block title %}
    <title>Select center and group!</title>
{% endblock title %}
{% block content %}
<h3>You are adding member to following center and group!!!</h3>
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<form method="post" action="{% url 'select_center' %}">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors|join:"" }}
        </div>
    {% endif %}
    
    <div class="container">
        {% for field in form %}
                <div class="grid-item">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
        {% endfor %}
    </div>
    <button type="submit">Next</button>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        function updateCodeField() {
            var groupCode = $('#id_group').find('option:selected').text();;  // Get the selected group code from the dropdown
            var memberCode = $('#id_member_code').val();  // Get the selected member code
            
            // Check if both group and member code have selected values
            if (groupCode && memberCode) {
                var codeValue = groupCode + '.' + memberCode;
                $('#id_code').val(codeValue);  // Update the code field
                $('#id_code').prop('readonly', true);  // Make the code field readonly
            } else {
                $('#id_code').val('');  // Clear the code field if any value is missing
                $('#id_code').prop('readonly', false);  // Make the code field editable again
            }
        }

        $('#id_center').change(function () {
            var centerId = $(this).val();  // Get the selected center ID
            
            // Load Groups based on Center
            var groupUrl = "{% url 'load_groups' %}";  
            $.ajax({
                url: groupUrl,
                data: {
                    'center': centerId
                },
                success: function (data) {
                    $('#id_group').empty();
                    $('#id_group').append('<option value="">Select Group...</option>');
                    $.each(data, function (key, value) {
                        // Use value.id to store the group ID in the dropdown
                        $('#id_group').append('<option value="' + value.id + '">' + value.code + '</option>');
                    });
                }
            });
    
            // Load Member Codes based on Center
            var memberCodeUrl = "{% url 'load_member_codes' %}";  
            $.ajax({
                url: memberCodeUrl,
                data: {
                    'center': centerId
                },
                success: function (data) {
                    $('#id_member_code').empty();
                    $('#id_member_code').append('<option value="">Select Member Code...</option>');
                    $.each(data, function (index, value) {
                        // Ensure value is treated as an integer
                        $('#id_member_code').append('<option value="' + value + '">' + value + '</option>');
                    });
                },
                error: function(xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        });

        // Update the code field when group or member code is selected
        $('#id_group, #id_member_code').change(function () {
            updateCodeField();
        });
    });        
</script>
{% endblock %}
