form {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.form-group{
    padding: 5px 20px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: rgb(42, 135, 42);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(234, 27, 27);
}