table {
    width: 98%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
table th {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
.memberStatusaddIcons{
    padding-right: 100px;
}
table input[type="text"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
}

.grid-item {
    background-color: #627062;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 8px;
}

/* Highlight the selected row */
.highlighted {
    background-color: #a3a5a7; /* Light blue background for the selected row */
}

.error {
    color: red; /* Change to the desired error message color */
    font-weight: bold; /* Optionally make it bold */
}

.disabled {
    pointer-events: none;  /* Prevents clicking */
    opacity: 0.5;          /* Visual cue for disabled state */
}

.breadcrumb {
    padding: 0.5rem 1rem; /* Adjust padding if necessary */
}

.breadcrumb-item {
    display: inline-block; /* Ensure items are displayed inline */
    margin-right: 0.5rem; /* Add space between items */
}

.breadcrumb-item a {
    text-decoration: none; /* Remove underline from links */
    color: #007bff; /* Default link color */
}

/* Styling for address sections */
.address-section {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.address-section h3 {
    margin-bottom: 15px;
    color: #333;
}
.address-section label {
    font-weight: bold;
}
input[type="checkbox"] {
    margin-right: 8px;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
}
button:hover {
    background-color: #0056b3;
}
