{% extends 'loans/partials/loan_home.html' %}

{% block loan_radio %}
<div class="d-flex">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="loan_demand">
        <label class="form-check-label" for="inlineRadio1">Loan Demand</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="loan_analysis" checked>
        <label class="form-check-label" for="inlineRadio2">Loan Analysis</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="loan_disburse">
        <label class="form-check-label" for="inlineRadio3">Loan Disburse</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="loan_payment">
        <label class="form-check-label" for="inlineRadio4">Loan Payment</label>
    </div>
</div>
</div>
{% endblock loan_radio %}


{% block loan_table %}
<table>
    <thead>
        <tr>
            <th style="color: black;">Analyzed Date</th>
            <th style="color: black;">Loan Type</th>
            <th style="color: black;">Approved Date</th>
            <th style="color: black;">Approved Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if loan %}
        <tr class="{% if loan.status != 'analysis' %}highlight-loan-row{% endif %}"  id="loan-row-{{ loan.id }}">
            <td>{{ loan.loan_analysis_date }}</td>
            <td>{{ loan.loan_type }}</td>
            <td>{{ loan.approved_date }}</td>
            <td>{{ loan.loan_analysis_amount }}</td>
            <td>
                <div class="tooltip-container">
                    <a href="{% url 'loan_disburse_form' loan.id %}">
                    <i class="bi bi-caret-right-square-fill"></i>
                    <span class="custom-tooltip">Disburse Loan</span>
                    </a>
                </div>

                <i class="bi bi-trash-fill text-danger update-loan-processing" 
                    data-loan-id="{{ loan.id }}" 
                    data-status="applied" 
                    style="cursor: pointer;">
                </i>
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center text-2xl text-black">
                    No records found.
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>   
{% endblock loan_table %}
               