{% extends "base/index.html" %}
{% load static %}


{% block title %}
    <title>Add Employee</title>
{% endblock title %}

{% block corecss %}
    <link rel="stylesheet" href="{% static 'css/branch.css' %}">
{% endblock corecss %}

{% block content %}
    <h1>Add Employee</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            {% for field in form %}
                    <div class="grid-item">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    </div>
            {% endfor %}
        </div>
        <button type="submit">Save</button>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_district").change(function () {
                var url = "{% url 'load_branches' %}";  // Update this with your url name
                var districtId = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'district': districtId
                    },
                    success: function (data) {
                        $("#id_branch").html('');
                        $("#id_branch").append('<option value="">Select branch</option>');
                        $.each(data, function (key, value) {
                            $("#id_branch").append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
