{% extends "base/index.html" %}

{% block content %}
    <h1>Add Employee</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_district").change(function () {
                var url = "{% url 'load_branches' %}";  // Update this with your url name
                var districtId = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'district': districtId
                    },
                    success: function (data) {
                        $("#id_branch").html('');
                        $("#id_branch").append('<option value="">Select branch</option>');
                        $.each(data, function (key, value) {
                            $("#id_branch").append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
