{% extends "base/index.html" %}

{% block content %}
    <h1>Employee List</h1>
    <a href="{% url 'add_employee' %}">Add Employee</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Branch</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone_number }}</td>
                <td>{{ employee.role }}</td>
                <td>{{ employee.branch.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
