{% extends 'base/index.html' %}

{% block content %}
    <div class="grid-container text-center">
        <div class="grid-item"><i class="bi bi-bank"></i> Branches 2</div>
        <div class="grid-item">Center</div>
        <div class="grid-item">Group</div>
        <div class="grid-item"><i class="bi bi-people-fill"></i> Members 5</div>
    </div>
    <div class="container">
        <h1>Member List</h1>
        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Center</th>
                    <th>Phone Number</th>
                    <th>Current Address</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{member.code}}</td>
                    <td>{{ member.personalInfo.name }}</td>
                    <td>{{member.center}}</td>
                    <td>{{ member.personalInfo.phone_number }}</td>
                    <td>{{ member.personalInfo.current_address }}</td>
                    {% comment %} <td>{{ member.member_category }}</td> {% endcomment %}
                    <td>{{ member.status }}</td>
                    <td><a href="{% url 'member_detail' member.id %}">View Details</a></td>
                    <td><a href="">Statement</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
