{% extends "base/index.html" %}
{% load static %}
{% block corecss %}
    <link rel="stylesheet" href="{% static 'css/savings.css' %}">
{% endblock corecss %}
{% block title %}
    <title>Add fixed deposit account</title>
{% endblock title %}

{% block content %}
    <a href="{% url 'member_savings' member_id=member.id %}">Back to Savings</a>
    <div class="container">
        <h1>Add Fixed Deposit for {{ member.personalInfo.name }}</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock content %}
