{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>TechinFin</title>
    {% endblock title %}
    {% comment %} <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"> {% endcomment %}
    {% block corecss %}
    {% endblock corecss %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/header-footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">
</head>
<body>

        {% block navbar %}
        <nav class="navbar">
            <ul class="nav-left">
                <li><a href="{% url 'dashboard' %}">Home</a></li>
                <li><a href="{% url 'branch_list' %}">Branch</a></li>
                <li><a href="{% url 'employee_list' %}">Employee</a></li>
                <li><a href="{% url 'center_list' %}">Center</a></li>
                <li><a href="{% url 'group_list' %}">Group</a></li>
                <li><a href="{% url 'member_list' %}">Member</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Transactions <i class="bi bi-chevron-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#">Loans</a>
                        <a href="#">Payments</a>
                        <a href="#">Receipts</a>
                        <a href="#">Withdraw</a>
                        <a href="{% url 'vouchers' %}">Voucher</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Deposit <i class="bi bi-chevron-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#">Recurring</a>
                        <a href="#">Fixed</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Reports <i class="bi bi-chevron-down"></i></a>
                    <div class="dropdown-content">
                        <a href="{% url 'reports' %}">MIS report</a>
                        <a href="#">General ledger</a>
                        <a href="{% url 'generate_pdf_receipt' %}">Receipts Compile voucher report</a>
                        <a href="{% url 'generate_pdf_payment' %}">Payments compile voucher report</a>
                        <a href="#">Daybook report</a>
                        <a href="#">statements</a>
                    </div>
                </li>
            </ul>
            <div class="nav-right">
                <p><i class="bi bi-bank"></i> Branch Office - Baneshwor <i class="bi bi-calendar"></i> 2081-06-1</p>
                <p>Rupesh Kumar Mandal <a href="{% url 'logout' %}"> <i class="bi bi-person-check" style="font-size: 25px; color: white;"></i></a></p>
            </div>
        </nav>
        {% endblock navbar %}
    



    {% block content %}
    {% endblock %}

    {% include "base/footer.html" %}
    
    
<!-- Bootstrap JS (include this line) -->
<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

    
</body>
</html>
