{% extends "base/index.html" %}

{% block content %}
    <h1>Branch List</h1>
    {% comment %} <a href="{% url 'dashboard' %}">Home</a> {% endcomment %}
    <a href="{% url 'add_branch' %}">Add Branch</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Manager</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for branch in branches %}
            <tr>
                <td>{{ branch.id }}</td>
                <td>{{ branch.name }}</td>
                <td>{{ branch.location }}</td>
                <td>{{ branch.manager }}</td>
                <td>
                    <a href="{% url "update_branch" branch.id %}"><i class='bi bi-pencil-fill'></i></a>
                    <a href="#"><i class='bi bi-trash-fill'></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}